/* Reset start */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #212121;
	font: 400 13px/1 'Open Sans', sans-serif;
  background: #FFF;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}

input {
  border: none;
  border-radius: 0px;
}
/* Reset end */

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 971px;
  height: 100%;
}

.default-btn {
  width: 150px;
  height: 40px;
  background: #00A4E5;
  border: none;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #fff;
  transition: 0.1s;
  cursor: pointer;
  text-transform: capitalize;
}

.default-btn:hover {
  background: #0091e5;
}

.default-btn:active {
  background: #0091e5;
  box-shadow: inset 0px 0px 2px 1px #48555B;
  font-size: 12px;
}

.header {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 100vh;
}

.header-logo {
  margin-top: 41px;
}

.header-title h1{
  font-family: 'Bebas Neue', cursive;
  font-weight: normal;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: 5.70937px;
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}

.header-title p {
  color: #FFF;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-transform: initial;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.header-scroll-alert {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  color: #FFF;
  margin-bottom: 71px;
  letter-spacing: 3.7px;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #fff;
  padding: 24px 0;
  border: 1px solid #E6E6E6;
  border-left: none;
  border-right: none;
}

nav .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-shrink: 0;
}

nav .container ul{
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  display: block;
  width: 80px;
}

.nav-link {
  margin-left: 30px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.09091px;
  transition: 0.2s ease-out;
  position: relative;
}

.nav-link::after{
  content: "";
  border-bottom: 0px solid #00A4E5;
  width: 0%;
  height: 0%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.nav-link:hover {
  color: #00A4E5;
}

.nav-link:hover::after {
  width: 100%;
  border-bottom: 1px solid #00A4E5;
  width: 100%;
  height: 100%;
  transition: 0.3s ease-out;
}

.nav-link.active{
  color: #00A4E5;
}

.story {
  padding-top: 57px;
}

.story-header {
  text-transform: capitalize;
  position: relative;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 2.30625px;
  color: #48555B;
  margin-bottom: 71px;
}

.story-header::after {
  content: "";
  display: block;
  width: 50px;
  padding-top: 3px;
  border-bottom: 2px solid #00A4E5;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  margin-top: 10px;
}

.story-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.story-img-wrapper {
  align-self: flex-end;
}

.story-img-wrapper img {
  margin-left: 20px;
}

.story-text-wrapper {
  max-width: 405px;
}

.story-main-phraze {
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #48555B;
  margin-bottom: 30px;
}

.story-text {
  line-height: 23px;
  color: #48555B;
}

.blue {
  color: #00A4E5;
}

.capabilities {
  margin-top: 118px;
  padding-bottom: 30px;
}

.capabilities-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.capabilities-call {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.capabilities-header {
  text-transform: capitalize;
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 2.30625px;
  color: #48555B;
  margin-bottom: 71px;
}

.capabilities-header::after {
  content: "";
  display: block;
  width: 50px;
  padding-top: 3px;
  border-bottom: 2px solid #00A4E5;
  position: absolute;
  left: 0;
  margin-top: 10px;
}

.capabilities-text {
  font-weight: normal;
  font-size: 11px;
  line-height: 19px;
  color: #48555B;
  max-width: 395px;
}

.capabilities-btn {
  margin-left: 40px;
}

.capabilities-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 78px;
}

.capabilities-card {
  max-width: 295px;
  height: 330px;
  border: 1px solid #E6E6E6;
  background-color: #fff;
  padding: 38px 23px;
}

.capabilities-card-header {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #48555B;
  margin-top: 25px;
  margin-bottom: 13px;
  text-transform: capitalize;
}

.capabilities-card-text {
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
}

.call-section {
  height: 100vh;
  background-image: url(../img/city_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.call-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.call-section-header {
  font-weight: bold;
  margin-top: -15vh;
  margin-bottom: 35px;
  max-width: 350px;
  font-size: 30px;
  line-height: 36px;
  color: #48555B;
}

.footer {
  background: #141A20;
  margin: -5px 0;
}

.footer-form {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background:#171819;
}

.footer-form-header {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color:#FFF;
  margin-right: 70px;
}

.footer-form-email {
  width: 250px;
  height: 40px;
  padding: 10px 15px;
  font-weight: 400;
  font-size: 14px;
  color: #48555B;
}

.footer-content {
  padding: 42px 0 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-company {
  max-width: 250px;
}

.footer-header {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 11px;
  letter-spacing: 0.846px;
  line-height: 15px;
  color: #fff;
  margin-bottom: 15px;
}

.footer-logo {
  display: block;
  margin-bottom: 15px;
  margin-top: 19px;
}

.footer-company-text {
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.85px;
  color:#fff;
}

.footer-nav {
  font-weight: 600;
  font-size: 11px;
  line-height: 25px;
  color: #fff;
  letter-spacing: 0.85px;
}

.footer-nav-links {
  display: flex;
  justify-content: space-between;
}

.footer-nav-links-column:not(:first-child) {
  margin-left: 34px;
}

.footer-nav-link {
  display: block;
}

.footer-contact-us-contacts {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.85px;
  font-weight: 400;
  color: #fff;
}

.footer-contact-us-contacts-adress {
  max-width: 141px;
}

.footer-contact-us-contacts-phone {
  margin: 16px 0;
}

.footer-contact-wrapper {
  display: flex;
}

.footer-contact-us-social-link {
  margin-left: 25px;
}

.footer-copyright {
  color: #fff;
  font-size: 11px;
  letter-spacing: 0.85px;
  text-align: center;
  padding: 25px;
  background-color: #171819;
}

.footer-copyright a {
  text-decoration: underline;
}
